<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for("suggest")}}" method="post">
        <label>Location:</label>
        <input type="text" name="location">
        <br>
        <br>
        <label>Date:</label>
        <input type="date" name="date">
        <br>
        <br>
        <label>Time:</label>
        <input type="time" name="time">
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>